In [3]:
import numpy as np
import pandas as pd
np.random.seed(12345)

import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)

In [4]:
# read a file
# Step 1: read a simple csv file
# Start with small comma-separated values 
# Unix cat shell command to print the raw contents of the file to the screen. If you’re on Windows, you can use type 
# instead of cat to achieve the same effect
!cat examples/ex1.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
# Step 2: read csv file through the pandas
# use pandas.read_csv to read it into a DataFrame
df = pd.read_csv("ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# Step 3: read csv withpout header
!cat examples/ex2.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
# Pandas to assign default column names,
test = pd.read_csv("ex2.csv", header=None)

test.head()

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:

# specify names
new_test=pd.read_csv("ex2.csv", names=["a", "b", "c", "d", "message"])
new_test.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# Step 4: set up index column
names = ["a", "b", "c", "d", "message"]
pd.read_csv("ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
# Step 4: set up two columns
#!cat examples/csv_mindex.csv
parsed = pd.read_csv("csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
!cat examples/ex3.txt

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
# Step 4: set up two columns
result = pd.read_csv("ex3.txt", sep="\s+")
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
# Step 5: you can skip the rows by using skiprows 
#!cat examples/ex4.csv
pd.read_csv("ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
# Step 6: Missing data can be marked by NA and NUL, the outputs values as NaN
result = pd.read_csv("ex5.csv")
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
# Step 7: test if there is NA
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [16]:
# Step 8: read small piece of a file
pd.options.display.max_rows = 20

In [17]:
result = pd.read_csv("ex6.csv")
print(result)

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [18]:
# Step 9: specify the number of rows you want to read by using nrows
pd.read_csv("ex6.csv", nrows=pd.options.display.max_rows)

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
5   1.817480  0.742273  0.419395 -2.251035   Q
6  -0.776764  0.935518 -0.332872 -1.875641   U
7  -0.913135  1.530624 -0.572657  0.477252   K
8   0.358480 -0.497572 -0.367016  0.507702   S
9  -1.740877 -1.160417 -1.637830  2.172201   G
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H

In [19]:
# Step 10: specify a chunksize as a number of rows
chunker = pd.read_csv("ex6.csv", chunksize=100000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [20]:
# Step 11: iterate over the parts of the file according to the chunksize
chunker = pd.read_csv("ex6.csv", chunksize=1000)

tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
print(tot)

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

In [21]:
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [22]:
# Write data to a file
# Step 1: read the file first 
data = pd.read_csv("ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
# Step 2: Using DataFrame’s to_csv method, write the data out to a comma-separated file
data.to_csv("out2.csv")
#!cat examples/out.csv

In [24]:
# Step 3: writing to sys.stdout so it prints the text result to the console rather than a file
import sys
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [25]:
# Step 4: denote the missing values as NULL
data.to_csv(sys.stdout, na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [26]:
# Step 5: disable the row and column labels when you wrtie them
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [27]:
# Step 6: write only a subset of the columns
data.to_csv(sys.stdout, index=False, columns=["a", "d", "c"])

a,d,c
1,4,3.0
5,8,
9,12,11.0

In [28]:
# JSON File (JavaScript Object Notation) 
# The basic types are objects (dictionaries), arrays (lists), strings, numbers, Booleans, and
# nulls. All of the keys in an object must be strings
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [29]:
# if you don't have json module installed, then you will need to install it pip install simplejson
# Step 1: load json file
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [30]:
# Step 2: json.dumps, on the other hand, converts a Python object back to JSON
asjson = json.dumps(result)
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [31]:
# Step 3: convert a JSON object or list of objects to a DataFrame
siblings = pd.DataFrame(result["siblings"], columns=["name", "age", "hobbies"])
siblings

    name  age            hobbies
0  Scott   34  [guitars, soccer]
1  Katie   42      [diving, art]

In [32]:
!cat examples/example.json

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [33]:
# Step 4: let's read a json file - pandas.read_json can automatically convert JSON datasets in specific arrangements
# into a Series or DataFrame
data = pd.read_json("example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [34]:
# Step 5: export data from pandas to JSON by using to_json
data.to_json(sys.stdout)
data.to_json("C:\\github\\handson-ml3\\lecture 4\\examples\\out.json", orient="records")

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [35]:
# Read semi-structure data - XML and HTML
# first install library, lxml
# Step 1: automatically parse tables out of HTML files as DataFrame objects, read_html attempts to parse all tabular data contained within <table> tags
tables = pd.read_html("fdic_failed_bank_list.html")
print(len(tables))
failures = tables[0]
failures.head()

1

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [36]:
pip install lxml

Requirement already satisfied: lxml in c:\users\anton\anaconda3\envs\ml_fixed\lib\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [37]:
# Read XML file
# Step 1: parse the file and get a reference to the root node of the XML file with getroot

from lxml import objectify

path = "Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

In [38]:
# Step 2: root.INDICATOR returns a generator yielding each <INDICATOR> XML element.
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [39]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [40]:
# Step 3: Pandas’s pandas.read_xml function turns this process into a one-line expression
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [41]:
# Binary Data Formats
# Step 1: to_pickle method that writes the data to disk in pickle format
frame = pd.read_csv("ex1.csv")
frame
# Step 2: write to Pickle file
frame.to_pickle("frame_pickle")

In [42]:
pd.read_pickle("frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [43]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\anton\anaconda3\envs\ml_fixed\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\anton\anaconda3\envs\ml_fixed\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
# Reading Microsoft Excel Files
# Need to install openpyxl module
 
# Step 1: pandas.ExcelFile, create an instance by passing a path to an xls or xlsx file
xlsx = pd.ExcelFile("ex1.xlsx")

In [45]:
xlsx.sheet_names

['Sheet1']

In [46]:
xlsx.parse(sheet_name="Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [47]:
# Step 2: indicate that with the index_col argument
xlsx.parse(sheet_name="Sheet1", index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [48]:
# Step 3: pandas.read_excel read the file
frame = pd.read_excel("ex1.xlsx", sheet_name="Sheet1")
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [49]:
import pandas as pd

with pd.ExcelWriter("ex2.xlsx", engine="openpyxl") as writer:
    frame.to_excel(writer, sheet_name="Sheet1", index=False)

In [50]:
frame.to_excel("ex2.xlsx")

In [51]:
!rm ex2.xlsx

'rm' is not recognized as an internal or external command,
operable program or batch file.

In [52]:
!rm -f mydata.h5

'rm' is not recognized as an internal or external command,
operable program or batch file.

In [53]:
pip install pytables

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement pytables (from versions: none)
ERROR: No matching distribution found for pytables

In [54]:
# HDF5 format
# install tables
# Step 1: write it to the h5
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore("mydata.h5")
store["obj1"] = frame
store["obj1_col"] = frame["a"]
store

ImportError: Missing optional dependency 'pytables'.  Use pip or conda to install pytables.

In [ ]:
# Step 2: retrieved with the same dictionary
store["obj1"]
print(store["obj1_col"])

NameError: name 'store' is not defined

In [ ]:
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <= 15"])
store.close()

NameError: name 'store' is not defined

In [ ]:
# needs: pip install tables
frame.to_hdf(path_or_buf="mydata.h5", key="obj3", format="table", mode="w")
out = pd.read_hdf(path_or_buf="mydata.h5", key="obj3", where=["index < 10"])
print(out)

ValueError: The file 'mydata.h5' is already opened.  Please close it before reopening in write mode.

In [ ]:
import os
os.remove("mydata.h5")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'mydata.h5'

In [ ]:
# Interacting with Web APIs
# Install requests
# Step 1: find the last 30 GitHub issues for pandas on GitHub, make a GET HTTP request using the add-on requests library
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp.raise_for_status()
resp

In [ ]:
data = resp.json()
data[0]["title"]

'DEPR: slicing with a date object'

In [ ]:
# Step 2: pass data directly to pandas.Data Frame and extract fields of interest
issues = pd.DataFrame(data, columns=["number", "title",
                                     "labels", "state"])
issues

,number,title,labels,state
0,62428,DEPR: slicing with a date object,[],open
1,62427,DOC: Validate docstrings for pandas.Period.freq,[],open
2,62425,[WIP] DOC: Add guide links to relevant API docs,[],open
3,62424,BUG: String[pyarrow] comparison with mixed object,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.g...",open
4,62423,"API/REF: consistent error messages, arithmetic rules","[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIyMzY2OQ==', 'url': 'https:...",open
...,...,...,...,...
25,62358,DOC: Expand data table respresentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OTk=', 'url': 'https://api....",open
26,62357,DOC: Ensure guides are linked from relevant API docs,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OTk=', 'url': 'https://api....",open
27,62356,BUG: Merge fails on pyarrow datetime columns,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.g...",open
28,62353,ENH: arithmetic between DatetimeArray / TimedeltaArray and list,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.g...",open
29,62343,BUG: _get_common_dtype with date32[pyarrow] and null[pyarrow],"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.g...",open